// @font-face 
//   font-family: HKGrotesk-Bold, sans-serif
//   src: url(fonts/grotesk/HKGrotesk-Bold.ttf)
@font-face 
  font-family: 'HKGrotesk-Regular' 
  src: url(fonts/grotesk/HKGrotesk-Regular.woff) 
  src: url(fonts/grotesk/HKGrotesk-Regular.woff2)
  font-weight: 400
  font-style: normal
@font-face  
  font-family: 'HKGrotesk-Medium'
  src: url(fonts/grotesk/HKGrotesk-Medium.woff) 
  src: url(fonts/grotesk/HKGrotesk-Medium.woff2) 
  font-weight: 500
  font-style: normal
@font-face 
  font-family: 'HKGrotesk-Bold'  
  src: url(fonts/grotesk/HKGrotesk-Bold.woff)
  src: url(fonts/grotesk/HKGrotesk-Bold.woff2)
  font-weight: 700
  font-style: normal

