* 
  box-sizing: border-box
  font-family: 'Open Sans', sans-serif
//   border: 1px solid black
body 
  font-family: 'Open Sans', sans-serif
.container
  max-width: 1140px
  margin: auto
img
  max-width: 100%
