.navbar
  background-color: #fff
  &-top
    display: flex
    align-items: center
    justify-content: space-between
    max-height: 100px
  &-menu
    list-style-type: none
    margin: 0
    display: flex
    align-items: center
    justify-content: space-between
    padding: 39px 0
    &__item
      margin-left: 40px
    &__link
      text-decoration: none
      text-transform: uppercase
      line-height: 22px
      font-family: Open Sans
      font-style: normal
      font-weight: 600
      font-size: 16px
      color: $text-color
    &__button
      border-radius: 8px
      padding: 13px 24px
      background: white
      border: 2px solid $white-blue
      &-text
        color: $white-blue
        text-decoration: none
        line-height: 22px
        font-family: Open Sans
        font-style: normal
        font-weight: 600
        font-size: 16px
        
      
