@media (max-width: 1200px)
  .container
    max-width: 960px
  .collection
    &__wrapper
      flex-direction: column
      &__left
        margin: auto
        &-main
          width: 555px
        &-img--1
          width: 555px
          object-fit: cover
      &__right
        margin-top: 40px
        margin-left: 0
        &-title
          font-family: HK Grotesk, sans-serif
@media (max-width:992px)
  .container
    max-width: 708px
  .navbar
    &-menu
      &__link
        font-size: 14px
      &__button
        &-text
          font-size: 14px
  .hero
    .container
      background-position: 7% 100%
    &__container
      padding: 38px 0px 46px 23px
    &__box
      &-title
        font-style: normal
        font-weight: bold
        font-size: 48px
        line-height: 60px
        letter-spacing: 0.2px
  .collection
    margin-top: 80px
    &__wrapper
      flex-direction: column
      &__left
        &-main
          width: 320px
          height: 490px
          margin-right: 30px
        &-img--1
          width: 320px
          height: 490px
          object-fit: cover
      &__right
        margin-top: 40px
        margin-left: 0
        &-title
          font-family: HK Grotesk, sans-serif
          font-style: normal
          font-weight: bold
          font-size: 48px
          line-height: 60px
          margin-bottom: 16px
        &-text
          font-family: Open Sans
          font-style: normal
          font-weight: normal
          font-size: 20px
          line-height: 36px
          margin-bottom: 30px
@media (max-width: 768px)
  .container,
    max-width: 710px
  .logo__image
    margin-left: 31px
    margin-top: 5px
  .navbar
    &-bottom
      display: none
      position: fixed
      left: 0
      top: 72px
      right: 0
      bottom: 0
      background-color: white
      &--visible
        display: block
    &-top
      height: 64px
      display: flex
      align-items: center
      margin-top: 8px
      margin-right: 12px
      &__menu-button
        display: flex
        margin-bottom: 2px
        margin-right: 34px
        z-index: 150
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
      &_hidden
  .menu
    &-button 
      width: 17px
      height: 17px
      padding: 0
      margin-top: 9px
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      justify-content: space-between
      border: none
      background-color: #fff
      cursor: pointer
      outline: none 
      &__line  
        width: 22px
        height: 2px
        background-color: #3A4C66  
  .hero
    .container
      margin-top: 104px
      background-position: 11% 1%
    &__container
      padding: 38px 0px 36px 18px
    &__box
      &-title
        width: 75%
        font-size: 48px
        font-style: normal
        font-weight: bold
        font-size: 48px
        line-height: 60px
      &-info
        width: 74%
        font-size: 18px
        line-height: 32px
        margin-top: 16px
        margin-bottom: 36px
    &__button
      padding: 16px 41px
      margin-bottom: 38px
    &__icons
      font-family: HK Grotesk
      font-style: normal
      font-weight: 600
      font-size: 16px
      &-items
        margin-right: 12px
  .collection
    &__wrapper
      &__left
        margin-left: 18px
        &-main
          width: 100%
        &-img--1
          width: 100%
        &-img--2
          width: 94%
        &-img--3        
          width: 94%
        &-nomain
          display: flex
          flex-direction: column
          width: 100%
          height: 100%
      &__right
        margin-left: 19px
        &-title
          font-family: HK Grotesk, sans-serif
          font-style: normal
          font-weight: bold
          font-size: 48px
          line-height: 60px
  .trend
    margin-top: 79px
    margin-bottom: 40px
    &__header
      display: flex
      flex-direction: column
      margin-bottom: 55px
      &-title
        font-family: HK Grotesk, sans-serif
        font-style: normal
        font-weight: bold
        font-size: 48px
        line-height: 60px
        margin-left: 20px
      &-list
        margin-top: 29px
        padding-left: 46px
        &-item
          margin-left: 0
          margin-right: 38px
          font-style: normal
          font-weight: bold
          font-size: 18px
          line-height: 25px
    &__box
      // width: 82%
      // margin: auto
      justify-content: space-around
      margin-left: 17px
      margin: 0 30px
      &__item
        // margin-left: 68px
        &-title
          margin-left: 9px
        &-img
          width: 280px
          height: 350px
          margin-bottom: 14px
        &-costs
          margin-left: 10px
          margin-bottom: 50px
        &-more
          width: 280px
          &--link
            margin-top: 15px
        &-buy
          margin-right: 12px
  .reviews
    margin-bottom: 69px
    &__wrapper
      &-comma
        margin-bottom: 21px
      &-text
        width: 81%
        margin-bottom: 36px
  .story
    .container
      flex-direction: row
      flex-wrap: wrap
      align-items: center
      margin: auto
    &__slider
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 30px
      &-title
        font-family: HK Grotesk, sans-serif
        margin-top: 25px
        margin-bottom: 15px
        letter-spacing: -1.8px
      &-text
        width: 77%
        text-align: center
        margin-bottom: 34px
    &__one
      max-width: 322px  
      display: flex
      flex-direction: column
      margin: auto
      &-text
        width: 95%
        padding-top: 19px
        padding-left: 15px
        &--title
          font-family: HK Grotesk, sans-serif
          width: 95%
    &__two  
      max-width: 322px  
      margin: auto
      &-text  
        width: 95%
        padding-top: 23px
        padding-left: 12px
        &--title
          font-family: HK Grotesk, sans-serif
          width: 95%
@media (max-width: 576px)
  .logo__image
    margin-left: 29px
    margin-top: 9px
  .navbar
    width: 320px
    .container
      width: 100%
      height: 88px
      margin: 0
      padding-bottom: 36px
    &-top
      
      &__menu-button
        margin-right: 20px
    &-bottom
    &-menu
  .hero
    width: 100%   
    .container
      min-width: 297px 
      border-radius: 0
      background-image: linear-gradient(to top, #dadada 37%, rgba(255,255,255,0) 57%),url(../img/hero-image.jpg)
      background-position: 70% 1%
      margin-top: 80px
      margin-bottom: 66px
    &__container
      display: flex
      flex-direction: column
      align-items: center
      padding: 0
    &__box
      display: flex
      flex-direction: column
      align-items: center
      padding-top: 384px 
      &-tag
      &-title
        font-size: 32px
        line-height: 40px
        text-align: center
        width: 100%
        margin-left: 0
        margin-top: 16px
      &-info
        width: 81%
        font-size: 16px
        line-height: 28px
        text-align: center
        margin-top: 21px
        margin-bottom: 23px
    &__button
      margin: auto
      padding: 11px 41px
      font-weight: bold
      font-size: 16px
      line-height: 22px
    &__icons
      margin-top: 24px
      margin-bottom: 24px
      display: flex
      align-items: center
      flex-direction: row
      flex-wrap: wrap
      align-items: center
      &-items
        font-family: HK Grotesk, sans-serif
        font-style: normal
        font-weight: 600
        font-size: 15px
        line-height: 20px
        color: $text-title
      &-last
        display: flex
        align-items: center
        align-self: center
        margin-top: 0px
  .trend__header-list-item
    margin-right: 12px
  .collection
    margin-top: 40px
    &__wrapper
      &__left
        flex-direction: column
        margin: 0 0 27px 0
        &-nomain
          display: flex
          flex-direction: row
          margin: auto
          margin-top: 20px
          margin-top: 13px
        &-img--2
          width: 138px
          height: 97px
          margin: auto
        &-img--3
          width: 138px
          height: 97px
          margin-top: 0
          margin: auto
        &-main
          width: 290px
          height: 300px
          margin: auto
        &-img--1
          width: 290px
          height: 300px
      &__right
        display: flex
        flex-direction: column
        align-items: center
        margin: auto
        &-title
          font-size: 28px
          margin-bottom: 0
        &-text
          width: 91%
          font-size: 16px
          line-height: 28px
          text-align: center
        &-link
          text-align: center
          margin: auto
          font-size: 16px
  .trend
    margin-top: 59px
    &__header
      align-items: center
      margin-bottom: 34px
      &-title
        font-size: 28px
        line-height: 36px
      &-list
        font-size: 16px
        line-height: 22px
        padding-left: 0
        margin-top: 23px
        margin-left: 1px
        &-item
          font-size: 16px
          line-height: 22px
    &__box
      margin: auto
      &__item
        height: 234px
        margin-bottom: 20px
        &-img
          width: 140px
          height: 170px
          margin-bottom: 9px
        &-title
          font-size: 16px
          line-height: 20px
          margin-left: 0
          margin-bottom: 0
        &-costs
          justify-content: start
          margin-bottom: 0
          margin-left: 0
        &-buy
          width: 11%
          margin-left: 5px
        &-cost
          font-size: 14px
          line-height: 24px
        &-more
          width: 140px
          height: 170px
          &--link
            font-size: 20px
            line-height: 24px
            margin-top: 25px
  .reviews
    &__wrapper
      &-comma
        margin-bottom: 14px
      &-text
        width: 92%
        font-size: 18px
        line-height: 36px
        margin-bottom: 58px
      &-author
        font-size: 20px
        line-height: 24px
        width: 60%
@media (max-width: 430px)
  .hero
    &__icons
      display: flex
      flex-direction: row
      align-items: center
      margin-left: 50px
      &-last
        margin-left: 100px
        margin-top: 20px
@media (max-width: 369px)
  .hero
    &__icons
      display: flex
      flex-direction: row
      align-items: center
      margin-left: 20px
      &-last
        margin-left: 80px
        margin-top: 20px
@media (max-width: 337px)
  .hero
    &__icons
      display: flex
      flex-direction: row
      align-items: center
      margin-left: 5px
      &-last
        margin-left: 100px
        margin-top: 0px
