@media (max-width: 1200px)
  .container
    max-width: 960px
@media (max-width:992px)
  .container
    max-width: 708px
  .navbar
    &-menu
      &__link
        font-size: 14px
      &__button
        &-text
          font-size: 14px
@media (max-width: 768px)
  .container,
    max-width: 700px
  .navbar
    &-top
      &__menu-button
        display: flex
    &-menu
      display: none
    &--mobile
      &_hidden
  .menu
    &-button 
      width: 16px
      height: 17px
      padding: 0
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      justify-content: space-between
      border: none
      background-color: #fff
      cursor: pointer
      outline: none 
      &__line  
        width: 22px
        height: 2px
        background-color: #3A4C66  
