.reviews
  margin-bottom: 120px
  .container
    border-bottom: 1px solid #E5EAF4
  &__wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &-comma
      margin-bottom: 33px
    &-text
      width: 64%
      margin: 0
      margin-bottom: 28px
      font-family: HK Grotesk, sans-serif
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 42px
      text-align: center
      letter-spacing: 0.133333px
      color: $text-title
    &-author
      margin: 0
      margin-bottom: 133px
      font-family: HK Grotesk, sans-serif
      font-style: normal
      font-weight: bold
      font-size: 20px
      line-height: 24px
      text-align: center
      letter-spacing: 0.2px
      color: $text-title
// .swiper-container 
//   width: 600px
//   height: 300px

