.swiper
  &-box
    overflow: hidden
    width: 65%
    // margin-left: 64px
  &-wrapper
    width: 100%
    // width: 60%  
  &-button
    &-disabled
      opacity: 0.5 !important
      // visibility: hidden
      // background-image: url("../img/slider-rightb.svg")
      // position: relative
      // z-index: 100
.story
  margin-bottom: 134px
  .container
    display: flex
  &__box
    display: flex
    width: 837px
    // margin-left: 188px
    margin-right: 50px
    margin-top: 10px
  &__slider
    left: 373px
    width: 35%
    padding-bottom: 39px
    // overflow: hidden
    background-color: white
    z-index: 10
    &-tag
      font-family: Open Sans
      font-style: normal
      font-weight: 600
      font-size: 14px
      line-height: 20px
      text-align: center
      color: #36B37E
      background: #ecf8f4
      border-radius: 2000px
      border: none
      padding: 6px 16px 
      cursor: pointer
      text-transform: uppercase
    &-title
      width: 76%
      font-family: 'HK Grotesk', sans-serif
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 60px
      letter-spacing: 0.2px
      color: $text-title
      margin: 0
      margin-top: 38px
      margin-bottom: 24px
    &-text
      width: 95%
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 36px
      color: $text-normal
      margin: 0
      margin-bottom: 48px
    &-button
      &-left
        // background-image: url("../img/slider-leftb.svg")
        outline: none
        border: none
        background-color: white
        opacity: 1
        cursor: pointer
      &-right
        // width: 56px
        // height: 56px
        // background-image: url("../img/slider-rightb.svg")
        // position: relative
        outline: none
        border: none
        background-color: white
        z-index: 10
        cursor: pointer
  &__one
    position: relative
    padding-left: 83px
    // width: 64%
    // margin-left: 168px
    &-img 
      position: relative
      z-index: 1
      img
        border-radius: 8px 8px 0 0px
        object-fit: cover
        width: 312px
        max-height: 322px
        top: 10px
        z-index: 100
    &-text
      // width: 79%
      padding-top: 19px
      padding-left: 19px
      top: -27px
      left: 11px
      position: relative
      background-color: #FAFDFF
      font-family: 'HK Grotesk', sans-serif !important
      font-style: normal
      font-weight: 600
      font-size: 22px
      line-height: 32px
      letter-spacing: 0.2px
      color: $text-title
      z-index: 5
      cursor: pointer
      &-link
        color: $white-blue
        font-family: Open Sans
        font-style: normal
        font-weight: 600
        font-size: 16px
        line-height: 22px
        cursor: pointer
      &-title
        width: 92%
        margin: 0
        margin-bottom: 12px
  &__two
    margin-left: 28px
    &-img
      img
        border-radius: 8px 8px 0 0px
        object-fit: cover
        width: 312px
        height: 317px
    &-text
      width: 79%
      padding-left: 19px
      padding-top: 19px
      top: -27px
      left: 11px
      position: relative
      background-color: #FAFDFF
      font-family: 'HK Grotesk', sans-serif !important
      font-style: normal
      font-weight: 600
      font-size: 22px
      line-height: 32px
      letter-spacing: 0.2px
      color: $text-title
      cursor: pointer
      &-link
        color: $white-blue
        font-family: Open Sans
        font-style: normal
        font-weight: 600
        font-size: 16px
        line-height: 22px
        cursor: pointer
      &-title
        width: 87%
        margin: 0
        margin-bottom: 12px
  .swiper__c
    overflow: hidden
